* {
    box-sizing: border-box;
}

/* Hovedboksen */
.hangmanwrapper {
    background-color: white;
    width: 850px;
    height: 700px;

    position: absolute;
    top: 30px;
    left: 295px;
    filter: drop-shadow(0 1px 2px #222);
    display: none;
}

.hangmanwrapper.ruteanim {
    animation: ruteAnim 1s;
}

@keyframes ruteAnim  {
    from { 
        opacity: 0;
        transform: scale(0.8); 
    }
    to { 
        opacity: 1;
        transform: scale(1) 
    }
}

/* Linjene på innsiden av boksen */
.hangmanwrapper::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 820px;
    height: 95%;
    border: 1px solid #2A6441;
    /*z-index: -100;*/
}

.hangmanwrapper h1 {
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

/* Berliner Dom bilde */
.hangmanwrapper img {
    display: block;
    margin: 1.5rem auto;
}

.hangmanwrapper h2 {
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    margin: 1.5rem;
}

/* Bokstavbokser for svaret, Berliner Dom */
.answerwrapper {
    display: flex;
    justify-content: center;
}

.answerwrapper.green .berlinerdom {
    border: 2px solid limegreen;
}

.berlinerdom {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

/* manglende bokstaver til funksjon, L og N */
.ucl {
    display: none;
}

.ucn {
    display: none;
}

.berlinerdom > p {
    margin: auto auto;
}

.berlinerdom:nth-child(8) {
    margin-right: 25px;
}

/* bokstavbokser for alternative bokstaver til brukeren */
.optionswrapper {
    /*border: 1px solid green;*/
    margin: 1.5rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 500px;
    height: 100px;
}

.optbox {
    border: 1.5px solid #003e5d;
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 35px;
    margin: auto auto;
    margin-left: 2.5px;
    margin-right: 2.5px;
    justify-content: space-around;
    z-index: 100;
}

.optbox p {
    margin: auto auto;
}

.optbox:hover {
    cursor: pointer;
}

/* Rewards for oppgaven */
.hangmanwrapper  .reward {
    /*border: 1px solid red;*/
    position: absolute;
    height: 60px;
    width: 120px;
    bottom: 30px;
    left: 30px;
}

.hangmanwrapper .reward p {
    font-weight: 300;
    display: inline-block;
    margin-top: 0;
    margin-left: 15px;
}

.hangmanwrapper .coins p {
    margin-bottom: 10px;
}

.hangmanwrapper .merke p {
    margin-left: 15px;
}

.hangmanwrapper .coins img {
    display: inline-block;
    margin: 0;
    margin-bottom: -4px;
}

.hangmanwrapper .merke img {
    display: inline-block;
    margin: 0;
    margin-bottom: -4px;
}

/* page counter */
.pagecounter {
    /*border: 1px solid red;*/
    color: #003e5d;
    display: inline block;
    position: absolute;
    right: 25px;
    bottom: 2px;
}