* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    background-color: #c5dde4;
}

/* Logo */
.logo {
    width: 200px;
    height: 50px;
    position: absolute;
    left: 42%;
    top: 3%;
}

.logo img {
    width: 220px;
}

/* Kongen og Butler */
.konge, .butler {
    width: 170px;
    height: auto;
    position: absolute;
    bottom: 10%; 

    border: 1px solid red;
}

.konge { left: 20%; }
.butler { right: 20%;}

.konge img, .butler img {
    width: 170px;
}

/* Hopp-over-knapp */
button {
    width: 130px;
    height: 40px;
    border-radius: 25px;
    position: absolute;
    right: 5%;
    bottom: 5%;
}
