* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    background-color: #c5dde4;
    font-size: 16px;
    z-index: -10;
}

/* Logo */
.logo {
    width: 200px;
    height: 50px;
    position: absolute;
    left: 42%;
    top: 3%;
}

.logo img { width: 220px; }

/* Wrapper rundt konge, snakkebobler og butler */
.wrapper {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0 5% 7% 5%;
}

/* Konge og Butler */
.konge, .butler { width: 170px; }

.konge img, .butler img {
    width: 170px;
    height: auto;
}

.konge { animation: move-from-left 1.5s cubic-bezier(.30, .01, .39, 1.35); }
.butler { animation: move-from-right 1.6s cubic-bezier(.30, .01, .50, 1.35); }

@keyframes move-from-left {
    0% {
        margin-left: -20px;
        margin-bottom: 750px;
    }
    
    100% {
        margin-left: 0px;
        margin-bottom: 0;
    }
}

@keyframes move-from-right {
    0% {
        margin-right: -20px;
        margin-bottom: 750px;
    }
    100% {
        margin-right: 0;
        margin-bottom: 0;
    }
}

.shadow-butler, .shadow-king { 
    position: absolute;
    width: 120px;
    height: 2px;
    bottom: 100px;
    border-radius: 50%;
    z-index: -9;
    background-color: #93b6c0;
    animation: shadow 1.8s cubic-bezier(.30, .01, .50, 1.35);
}

.shadow-king { left: 297px; }
.shadow-butler { right: 297px; }

@keyframes shadow {
    0% {
        right: 320px;
        height: 2px;
        width: 50px;
    }
    85% { 
        width: 0px;
        padding-left: 0px;
        padding-right: 0px; }
    90% { 
        right: 350px;
        width: 0px; }
    100% {
        right: 290px;
        height: 4px;
        padding-left: 25px;
        padding-right: 25px;
        
    }
}

/* snakkebobler */
.snakkeboble-venstre, .snakkeboble-hoyre {
    width: 200px;
    height: auto;
}

.snakkeboble-venstre { margin-bottom: 420px; }
.snakkeboble-hoyre { margin-bottom: 370px; }

.snakkeboble-konge-1, .snakkeboble-konge-2, .snakkeboble-konge-3, .snakkeboble-butler-1, .snakkeboble-butler-2 {
    width: 200px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-size: .7rem;
    position: relative;
    box-shadow: 0px 1px 10px #719eac;
    transition: all .4s;
}

/* Piler på snakkebobler */ 
.snakkeboble-konge-1::after, .snakkeboble-konge-2::after, .snakkeboble-konge-3::after, .snakkeboble-butler-1::after, .snakkeboble-butler-2::after  {
	content: '';
	position: absolute;
	top: 55%;
	border: 20px solid transparent;
	margin-top: -23px;
    margin-left: -17px;
}

.snakkeboble-konge-1::after, .snakkeboble-konge-2::after, .snakkeboble-konge-3::after { left: 5px; border-right-color: white; border-left: 0; }
.snakkeboble-butler-1::after, .snakkeboble-butler-2::after { right: -10px; border-left-color: white; border-right: 0; }


.snakkeboble-konge-1 { top: 200px; transform: scaleX(1) scaleY(1); }
.snakkeboble-konge-2 { top: 100px; transform: scaleX(0) scaleY(0); }
.snakkeboble-konge-3 { transform: scaleX(0) scaleY(0); }
.snakkeboble-butler-1 { top: 100px; transform: scaleX(0) scaleY(0); }
.snakkeboble-butler-2 { transform: scaleX(0) scaleY(0); }

.ut-venstre {
    transform-origin: left;
    transform: scaleX(0) scaleY(0);
}

.inn-venstre {
    transform-origin: left;
    transform: scaleX(1) scaleY(1);
}

.ut-hoyre {
    transform-origin: right;
    transform: scaleX(0) scaleY(0);
}

.inn-hoyre {
    transform-origin: right;
    transform: scaleX(1) scaleY(1);
}

#konge-tekst, #butler-tekst {
    width: 170px;
    position: absolute;
    margin: 20px;
    line-height: .85rem;
}

.neste {
    font-size: 1rem;
    position: absolute;
    right: 25px;
    bottom: -15px;
    transition: .5s;
    cursor: pointer;
}

.neste {
    right: 22px;
}

.start-knapp {
    display: none;

    position: absolute;
    width: 160px;
    height: 70px;
    border-radius: 50px;
    background-color: white;
}

.start-knapp::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #003e5d;
}

/* Hopp-over-knapp */
button {
    cursor: pointer;
    color: #003e5d;
    font-size: .8rem;

    height: 40px;
    width: 130px;
    border-radius: 25px;
    border: none;
    background-color: white;

    position: absolute;
    right: 5%;
    bottom: 5%;
    box-shadow: 0px 1px 10px #719eac;
}

/* Lager border på innsiden */
button::after {
    content: "";
    position: absolute;
    right: 3%;
    bottom: 10%;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #003e5d;
    /* border: 1px solid white; */
}

button span:after {
    content: '\00bb';
    opacity: 0;
    transition: .5s;
}

button:hover span:after {
    opacity: 1;
    margin-left: 8px;
}