* {
    box-sizing: border-box; 
}


.meny {
    position: absolute; 
    right: 0; 
    margin: 15px; 
    cursor: pointer;
}

.meny span {
    background: #222; 
    display: block;
    width: 33px;
    height: 4px;

    margin-bottom: 5px;
    border-radius: 3px;
}

p {
    font-size: .7rem; 
    position: absolute;
}

.merker p {
    top: 10px; 
    left: 83px; 
}

.penger p {
    top: -2px; 
    left: 76px; 
}

.fly p {
    top: 53px; 
    left: 82px; 
}

.europa p {
    top: 96px; 
    left: 82px; 
}

.europa .pil {
    position: absolute;
    top: 125px;
    left: 20px; 
}

.europa .pil img {
    width: 20px;
    height: auto; 
}

.total {
    position: absolute;
    left: 0; 
    top: 280px; 
    margin: 10px; 
}

.total .europa {
    cursor: pointer;
}

.merker {
    position: absolute;
    left: 0; 
    top: 440px; 
    margin: 10px; 
    display: none; 
}

.merker img,
.total img {
    width: 60px; 
    height: auto;
    display: block; 
    margin: 10px; 
}

.fly img {
    width: 55px; 
    transform: rotate(10deg); 
}

.penger {
    position: relative;
    left: 5px; 
}

.penger img {
    width: 50px; 
}

.kart {
    position: absolute; 
    top: 20px; 
    left: 250px;
}

.kart img {
    width: 90%; 
    height: auto;
}