* {
    box-sizing: border-box; 
}

/* kart */

.kart {
    position: absolute; 
    top: 20px; 
    left: 250px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.kart.zoom-nord {
    transform: scale(1.5) translate(160px, 170px);
}

.kart.zoom-sor {
    transform: scale(1.8) translate(60px, -300px);
}

.kart.zoom-ost {
    transform: scale(1.8) translate(-200px, -50px);
}

.kart.zoom-vest{
    transform: scale(2) translate(200px, -100px);
}

.kart img {
    width: 90%; 
    height: 700px;
}

.butler-kart {
    position: absolute; 
    bottom: -10px;
    right: 50px; 
    animation: fadeup 1.8s;
}

@keyframes fadeup {
    from { 
        transform: translateY(140px); 
    }
    to { 
        transform: translateY(0); 
    }
}

.butler-kart img {
    width: 140px;
    height: auto;
    filter: drop-shadow(0px 2px 15px #97c4d3);
}

.kart #nord {
    width: 620px;
    height: 350px;
    position: absolute;
    top: 0; 
}

.kart #ost {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 250px; 
    left: 500px; 
}

.kart #vest {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 300px; 
    left: 100px; 
}

.kart #sor {
    width:700px;
    height: 150px;
    position: absolute;
    top: 550px; 
    left: 130px; 
}

/* spørsmålsprikkene */

.dot, .vDot  {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    cursor: pointer; 
    position: absolute;
    filter: drop-shadow(0 1px 2px rgba(71, 71, 71, 0.6));  
    background: #ececec; 
    animation: scale 2s ease-in-out infinite;
}

#sor .dot {
    top: 70px;
    left: 80px; 
} 

#ost .dot {
    top: 200px;
    left: 100px; 
}

.vDot {
    top: 110px;
    left: 320px; 
}

#nord .dot {
    top: 160px;
    left: 20px; 
}
.dot.en {
    top: 120px;
    left: 160px; 
}

.dot.to {
    top: 180px;
    left: 195px; 
}

.dot.tre {
    top: 110px;
    left: 225px; 
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


/* start spill-rute */ 

.instruks {
    width: 500px; 
    height: 380px; 
    background: #fff; 
    /*filter: drop-shadow(0 1px 2px #222);*/
    box-shadow: 0px 1px 15px #8ab0bd;
    z-index: 1; 

    position: absolute;
    top: 190px; 
    left: 450px; 
    display: block; 
    animation: pop 1s;
}

@keyframes pop {
    from { 
       
        transform: scale(0.8); 
    }
    to { 
        
        transform: scale(1) 
    }
}
 
.instruks:after {
    content: ""; 
    width: 470px;
    height: 350px;
    border: 1px solid #003E5D;
    position: absolute;
    top: 14px;  
    left: 13px; 
}

.instruks h4 {
    margin-left: 60px; 
    margin-top: 60px; 
    font-weight: 600;
}

.instruks ol {
    margin-top: 60px; 
}

.instruks li {
    margin-left: 60px; 
    font-size: .8rem; 
    line-height: 1.6em; 
}

.klar-btn {
    width: 130px; 
    height: 40px;
    border: 1px solid #003E5D;
    margin: 10px auto; 
    border-radius: 25px; 

    color: #003e5d;
   font-size: .7rem;
   font-weight: 400;

    position: absolute;
    top: 280px; 
    left: 180px; 
    box-shadow: 0px 1px 5px #bfc5c7;
    cursor: pointer;
    z-index: 3; 
    padding-top: 12px; 
}

 .klar-btn span {
    margin-left: 25px; 
    margin-top: 25px; 
    font-size: .7rem;  
} 

 .klar-btn:hover {
    background: #003E5D;
    color: white; 
    transition: all .4s ease;
} 


/* tekst */

.total p {
    position: absolute;
    font-weight: 700; 
    font-size: .7rem; 
}

.penger p {
    position: absolute;
    top: -2px; 
    left: 76px; 
    font-size: .7rem; 
}

.fly p {
    position: absolute;
    top: 63px; 
    left: 82px;
    font-size: .7rem; 
}

.europa p {
    position: absolute;
    top: 115px; 
    left: 82px; 
    font-size: .7rem; 
}

.merker p {
    position: relative;
    top: -15px; 
    left: 83px; 
    font-weight: 700; 
    font-size: .7rem; 
}

/* merkene */ 

.europa .pil {
    position: absolute;
    top: 150px;
    left: 20px; 
    cursor: pointer;
}

.europa .pil img {
    width: 20px;
    height: auto; 
}

.total {
    position: absolute;
    left: 0; 
    top: 270px; 
    margin: 10px; 
    z-index: 1000; 
}

.merker {
    position: absolute;
    left: 0; 
    top: 440px; 
    margin: 10px; 
    z-index: 1000; 
    display: none; 
}

.merker.smooth {
    animation: fadein 1s;
}

@keyframes fadein {
    from { 
        opacity: 0;
        transform: translateY(-10px); 
    }
    to { opacity: 1;
        transform: translateY(0) 
    }
}

.merker img,
.total img {
    width: 60px; 
    height: auto;
    display: block; 
    margin: 10px; 
    z-index: 1000; 
}

.merker img {
    margin-top: 20px; 
    margin-bottom: -30px; 
    filter: drop-shadow( 0px 1px 3px #97c4d3);
}

.total img {
    margin-bottom: 20px; 
    filter: drop-shadow( 0px 1px 3px #97c4d3);
}

.fly img {
    width: 55px; 
    transform: rotate(10deg); 
}

.penger {
    position: relative;
    left: 5px; 
}

.penger img {
    width: 50px; 
}


