/* burder menu */
.burgermenu {
    position: absolute; 
    right: 0; 
    margin: 15px; 
    cursor: pointer;
    z-index: 9999;
}

.burgermenu span {
    background: #003E5D; 
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 3px;
}

/* menu box div */
.menuwrapper {
    width: 700px;
    height: 450px;
    background-color: #fff; 
    margin-top: 150px;
    margin-left: 360px;
    transition: ease 0.5s;

    z-index: 3000;
    filter: drop-shadow(0 1px 2px #222);
    display: none; 
}

/* white border inside menu window */
.menuwrapper:after {
    content: ""; 
    width: 670px;
    height: 420px;
    border: 2px solid #003E5D; 
    position: absolute;
    top: 14px;  
    left: 14px; 
}

.menuwrapper .resumebtn li a {
    position: absolute;
    top: 360px; 
    left: 273px;  
    z-index: 4000; 
}

.menuwrapper .avslutt li a {
    position: absolute; 
    top: 275px; 
    left: 280px;
    z-index: 4000; 
}


/* menu header */
.menuwrapper h1 {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: #222; 
}

/* menu content */
.menuwrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
}

.menuwrapper li {
    margin-bottom: 1rem;
}


.menuwrapper li a {
    text-decoration: none;
    color: #222; 
}

.menuwrapper li:nth-child(1) {
    margin-top: 2.4rem;
}

.menuwrapper li:nth-child(5) {
    margin-top: 3rem;
}

.menuwrapper li a:hover {
    cursor: pointer;
    color: #003E5D; 
    text-decoration: underline; 
}

/* animasjon */

.menuwrapper.open {
    animation: open 1s;
}

@keyframes open  {
    from { 
        opacity: 0;
        transform: scale(0.8); 
    }
    to { opacity: 1;
        transform: scale(1) 
    }
}


/* .menuwrapper.close {
    animation: close 1s;
}

@keyframes close  {
    from { 
        opacity: 1;
        transform: scale(1); 
    }
    to { opacity: 0;
        transform: scale(0.5); 
    }
}  */

