/* burder menu */
.burgermenu {
    position: absolute; 
    right: 0; 
    margin: 15px; 
    cursor: pointer;
}

.burgermenu span {
    background: #003E5D; 
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 3px;
}

/* menu box div */
.menuwrapper {
    width: 700px;
    height: 450px;
    background-color: #fff; 
    margin-top: 100px;
    margin-left: 360px;
    transition: ease 0.5s;

    z-index: 3000;
    filter: drop-shadow(0 1px 2px #222);
    display: none; 
}


/* white border inside menu window */
.menuwrapper:after {
    content: ""; 
    width: 670px;
    height: 420px;
    border: 2px solid #003E5D; 
    position: absolute;
    top: 14px;  
    left: 14px; 
}

.resumebtn li a {
    position: absolute;
    left: 273px;  
    z-index: 4000; 
}

/* menu header */
h1 {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: #003E5D; 
}

/* menu content */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
}

li {
    margin-bottom: 1rem;
}

li a {
    text-decoration: none;
    color: #222; 
}

li:nth-child(1) {
    margin-top: 2.4rem;
}

li:nth-child(5) {
    margin-top: 3rem;
}

li a:hover {
    cursor: pointer;
    color: #003E5D; 
    text-decoration: underline; 
}