main::after {
    content: "";
    position: absolute;
    left: 14px;
    top: 15px;
    width: 820px;
    height: 95%;
    border: 1px solid #2a6441;
    z-index: 1;
}


/* Hovedboksen */


main {
    background-color: white;
    width: 850px;
    height: 700px;
    margin: 50px auto;
    position: relative;
    box-shadow: 2px 2px 4px #9cb9c2;
}

/* Det som forklarer hvor du er i kontintenet */

.sor {
    position: absolute;
    top: 35px;
    left: 370px;
    font-size: 1rem;
    font-weight: 300;
}

/* Bildene */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 79px;
    padding-bottom: 10px;
}


/* Svar bokser */
#svar {
    display: flex;
    justify-content: center;
    text-align: center;
}

#svar1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

#rigth {
    border: 2px solid #003e5d;
    box-shadow: 1px 1px 1px #003e5d;
}

#wrong {
    border: 2px solid #003e5d;
}

#wrong1 {
    border: 2px solid #003e5d;
}

#wrong2 {
    border: 2px solid #003e5d;
}

.button {
    padding: 7px;
    width: 265px;
    height: 50px;
    background-color: #003e5d;
    flex-direction: row;
    margin: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #003e5d;
    z-index: 2;
    cursor: pointer;
}

.button:hover {
    border: 1px solid white;
}

.button1 {
    padding: 7px;
    width: 265px;
    height: 50px;
    background-color: #003e5d;
    margin: 5px;
    flex-direction: row;
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #003e5d;
    z-index: 2;
    cursor: pointer;
}

.button1:hover {
    border: 1px solid white;
}

h1 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
}

/* Det som viser hva du får i belønning om du klarer oppgaven, merke og penger */

.reward {
    position: absolute;
    height: 80px;
    width: 120px;
    bottom: 18px;
    left: 17px;
}

.reward p {
    font-weight: 300;
    display: inline-block;
    margin-top: 10px;
    margin-left: 45px;
    margin-bottom: 0px;
}


.coins img {
    position: absolute;
    bottom: 38px;
    left: 7px;
}

.merke img {
    position: absolute;
    bottom: -1px;
    left: 4px;
}

/* page counter */
.pagecounter {
    /*border: 1px solid red;*/
    color: #003e5d;
    display: inline block;
    position: absolute;
    right: 25px;
    bottom: 2px;
}