/* Linjene inni Hovedboksen */

main::after {
    content: "";
    position: absolute;
    left: 14px;
    top: 15px;
    width: 820px;
    height: 95%;
    border: 1px solid #2a6441;
}


/* Hovedboksen */

.hovedstat {
    background-color: white;
    width: 850px;
    height: 700px;
    margin: 50px auto;
    position: relative;
    filter: drop-shadow(0 1px 2px #222);
    display: none;
}

/* Vest-Europa overskrift */

.hovedstat .sor {
    position: absolute;
    top: 35px;
    left: 370px;
    font-size: 1rem;
    font-weight: 300;
}

/* Bildet */

.hovedstat img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 95px;
    padding-bottom: 10px;
}


/* Svar bokser */

#svar {
    display: flex;
    justify-content: center;
    text-align: center;
}

#svar1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

#rigth {
    border: 2px solid #003e5d;
    box-shadow: 1px 1px 1px #003e5d;
}

#wrong {
    border: 2px solid #003e5d;
}

#wrong1 {
    border: 2px solid #003e5d;
}

#wrong2 {
    border: 2px solid #003e5d;
}

.hovedstat .button {
    padding: 7px;
    width: 265px;
    height: 50px;
    background-color: #003e5d;
    flex-direction: row;
    margin: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #003e5d;
    z-index: 2;
    cursor: pointer;
}

.hovedstat .button:hover {
    border: 1px solid white;
}

.hovedstat .button1 {
    padding: 7px;
    width: 265px;
    height: 50px;
    background-color: #003e5d;
    margin: 5px;
    flex-direction: row;
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #003e5d;
    z-index: 2;
    cursor: pointer;
}

.hovedstat .button1:hover {
    border: 1px solid white;
}

/* Spørsmål overskrift */

h1 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
}

/* Det som viser hva du får i belønning om du klarer oppgaven, merke og penger */

.hovedstat .reward {
    position: absolute;
    height: 80px;
    width: 120px;
    bottom: 18px;
    left: 17px;
}

.hovedstat .reward p {
    font-weight: 300;
    display: inline-block;
    margin-top: 10px;
    margin-left: 45px;
    margin-bottom: 0px;
}

.hovedstat .coins img {
    position: absolute;
    bottom: 38px;
    left: 7px;
}

.hovedstat .merke img {
    position: absolute;
    bottom: -1px;
    left: 4px;
}

/* Page counter */

.pagecounter {
    color: #003e5d;
    display: inline block;
    position: absolute;
    right: 25px;
    bottom: 2px;
}

.arrow {
    position: absolute;
    right: 50px;
    top: 200px;
    font-size: 70px;
    visibility: hidden;
    z-index: 5000;
}

.arrow:hover {
    cursor: pointer;
}