* {
    box-sizing: border-box;
}

/* Hovedboksen */
.shopwrapper {
    background-color: white;
    width: 700px;
    height: 530px;

    position: absolute;
    top: 100px; 
    left: 360px; 
    filter: drop-shadow(0 1px 2px #222);
    z-index: 100;
    display: none;
}

/* Linjene på innsiden av boksen */
.shopwrapper::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 670px;
    height: 94%;
    border: 1px solid #003e5d;
    z-index: -10;
}

.shopwrapper h1 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1.5rem;
}

/* Flybillett */
.flybillett .fb {
    display: block;
    margin: 0 auto;
    z-index: 5;
    filter: drop-shadow(0px 1px 2px #d8d8d8);
}

.flybillett .fb:hover {
    cursor: pointer;
}

.flybillett .fbcoins {
    display: inline-block;
    margin-top: 1%;
    margin-left: 45%;
}

.flybillett {
    margin-bottom: .5rem;
}

.flybillett > p {
    display: inline-block;
    font-size: .7rem;
}

/* merker */

.merkecontainer {
    /*border: 1px solid red;*/
    display: flex;
    width: 700px;
    height: 100px;
    font-size: .7rem;
    justify-content: center;
    margin-left: 10px;
}

/* fellestag for egne diver */
.merkebox {
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

/* merkediv */
.merkebox .merke {
    display: block;
    /*box-shadow: 0px 1px 10px #64696b;*/
    filter: drop-shadow(0px 1px 2px #b8b8b8);
}

/*.merke > img {
    box-shadow: 0px 1px 10px #64696b;
}*/

.merkebox  .merke:hover {
    cursor: pointer;
}

.merkebox .coins {
    display: inline-block;
    margin-left: 15px;
}

.merkecontainer  p {
    display: inline-block;
}

/* butlerutstyr */

.butlercontainer {
    /*border: 1px solid red;*/
    margin-top: 1rem;
    display: flex;
    width: 700px;
    height: 100px;
    font-size: .7rem;
    justify-content: center;
    margin-left: 10px;
}

/* felles tag for egne diver */

.butlercontainer .utstyrsbox {
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
    align-content: center;
}

/* butlerutstyr */
.utstyrsbox  .hansker {
    display: block;
    margin-left: 5px;
    filter: drop-shadow(0px 1px 2px #d3d3d3);
}
.utstyrsbox  .hansker:hover {
    cursor: pointer;
}

.utstyrsbox  .hatt {
    display: block;
    margin-top: 20px;
    filter: drop-shadow(0px 1px 2px #d3d3d3);
}
.utstyrsbox .hatt:hover {
    cursor: pointer;
}

.utstyrsbox  .handkle {
    display: block;
    margin-left: 13px;
    filter: drop-shadow(0px 1px 2px #d3d3d3);
}
.utstyrsbox  .handkle:hover {
    cursor: pointer;
}

.butlercontainer  .dress {
    display: block;
    margin-left: 10px;
    filter: drop-shadow(0px 1px 2px #d3d3d3);
}
.utstyrsbox .dress:hover {
    cursor: pointer;
}

/* tilbakeknapp */
.tilbake h2 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.7rem;
    width: 80px;
}

.tilbake h2:hover {
    cursor: pointer;
    color: #003e5d; 
    border-bottom: 1px solid #003e5d;
    /*transition: .5s;*/
}

/* coins at butler row */
.utstyrsbox  .bcoins {
    margin-top: 10px; 
    margin-left: 10px;
}

.utstyrsbox > p {
    display: inline-block;
}