/* Linjene rundt boksen */
.vl {
    position: absolute;
    border-left: 1px solid #eebb54;
    height: 660px;
    left: 20px;
    top: 20px;
}

.vl2 {
    position: absolute;
    border-left: 1px solid #eebb54;
    height: 660px;
    right: 20px;
    top: 20px;
}


.hr1 hr {
    position: absolute;
    width: 810px;
    top: 10px;
    left: 20px;
    border-top: 1px solid #eebb54;
}

.hr2 hr {
    position: absolute;
    width: 810px;
    top: 670px;
    left: 20px;
    border-top: 1px solid #eebb54;
}



/* Hovedboksen */


main {
    background-color: white;
    width: 850px;
    height: 700px;
    margin: 50px auto;
    position: relative;
    box-shadow: 2px 2px 4px #9cb9c2;
}

/* Det som forklarer hvor du er i kontintenet */

.sor {
    position: absolute;
    top: 35px;
    left: 373px;
    font-size: 20px;
    font-weight: 300;
}

/* Bildene */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 79px;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

/* Svar bokser */
#svar {
    display: flex;
    justify-content: center;
    text-align: center;
}

#svar1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

#rigth {
    border: 2px solid #003e5d;
    box-shadow: 1px 1px 1px #003e5d;
}

#wrong {
    border: 2px solid #003e5d;
}

#wrong1 {
    border: 2px solid #003e5d;
}

#wrong2 {
    border: 2px solid #003e5d;
}

.button {
    padding: 9px;
    width: 265px;
    height: 50px;
    background-color: #003e5d;
    flex-direction: row;
    margin: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #003e5d;
}

.button:hover {
    border: 1px solid white;
}

.button1 {
    padding: 9px;
    width: 265px;
    height: 50px;
    background-color: #003e5d;
    margin: 5px;
    flex-direction: row;
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #003e5d;
}

.button1:hover {
    border: 1px solid white;
}

/* Det som viser hva du får i belønning om du klarer oppgaven, merke og penger */

.reward {
    position: absolute;
    bottom: 10px;
    left: 35px;
}

.reward p {
    font-weight: 500;
    position: absolute;
    left: 35px;
    bottom: 10px;
}

.coins img {
    position: absolute;
    left: 2px;
    bottom: 70px;
}

.merke img {
    position: absolute;
    left: 0px;
    bottom: 22px;
}